.HeroSection{
    max-height: 80vh;
    position: relative;
    z-index: 1;
    img{
        max-height: 80vh;
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
    }
    &Promo{
        z-index: 2;
        position: absolute;
        bottom: 0;
        width: 100%;
        min-height: 50px;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    &PromoItem{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 23px;
        gap: 10px;
        color: white;
        svg{
            color: white;
            font-size: 40px;
        }
    }

}