.Cart {
    max-width: 1090px;
    margin: 0 auto;
    min-height: 80vh;
    padding: 0 20px;
    &Title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    &NumOfProducts {
        font-size: 16px;
        font-weight: 400;
        color: #6a6a6a;
    }
    &Info {
        display: flex;
        justify-content: center;
        gap: 30px;
        @media (max-width: 992px) {
            flex-direction: column;
            gap: 0px;
        }
    }
    &Products {
        margin-top: 20px;
        margin-bottom: 20px;
        width: calc(60% - 15px);
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (max-width: 992px) {
            width: 100%;
        }
    }
    &Totals {
        margin-top: 20px;
        width: calc(40% - 15px);
        @media (max-width: 992px) {
            width: 100%;
            margin-top: 0;
            margin-bottom: 20px;
        }
        &Content {
            background-color: #f2f2f2;
            padding: 20px 25px;
        }
        &Note {
            font-size: 12px;
            margin-bottom: 15px;
        }
        &TempPrice,
        &ShippingFee,
        &TotalPrice {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            @media (max-width: 767px) {
                font-size: 14px;
            }
            @media (max-width: 480px) {
                font-size: 12px;
            }
        }
        &Shipping {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            &Title {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 10px;
                @media (max-width: 767px) {
                    font-size: 14px;
                }
                @media (max-width: 480px) {
                    font-size: 12px;
                }
            }

            &Label {
                width: 100%;
                font-size: 16px;
                display: flex;
                justify-content: space-between;
                &:hover {
                    cursor: pointer;
                }
                @media (max-width: 767px) {
                    font-size: 14px;
                }
                @media (max-width: 480px) {
                    font-size: 12px;
                }
            }
            &Radio {
                margin-right: 10px;
                &:hover {
                    cursor: pointer;
                }
            }
            &Box {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                span {
                    font-weight: 500;
                }
            }
        }
        &Actions {
            margin-top: 30px;
            .CartTotalsCheckout {
                display: block;
                border: 1px solid black;
                padding: 10px 20px;
                color: white;
                background-color: #000;
                font-weight: 500;
                transition: all 0.3s;
                font-size: 15px;
                text-align: center;
                margin-bottom: 10px;
                &:hover {
                    background-color: white;
                    color: black;
                    font-size: 16px;
                }
                @media (max-width: 767px) {
                    font-size: 14px;
                }
                @media (max-width: 480px) {
                    font-size: 12px;
                }
            }
            .CartTotalsContinue {
                font-weight: 400;
                transition: all 0.3s;
                color: black;
                text-align: center;
                padding: 10px 20px;
                display: block;
                text-decoration: underline;
                font-size: 15px;
                font-weight: 500;
                &:hover {
                    font-size: 16px;
                }
                @media (max-width: 767px) {
                    font-size: 14px;
                }
                @media (max-width: 480px) {
                    font-size: 12px;
                }
            }
        }
    }
}
