.Product {
    width: calc(25% - 15px);
    &Slide {
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            max-height: 450px;
            height: 100%;
            display: block;
            object-fit: cover;
            transform: scale(1);
            transition: all 0.3s;
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
            @media (min-width:1650px){
                max-height: 512px;
            }
            @media (min-width:1900px){
                max-height: 603px;
            }
        }
    }
    &Name {
        color: black;
        font-weight: 500;
        padding: 20px 0;
        display: block;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    &Price {
        font-weight: 600;
        display: inline-block;
        margin-top: 0;
    }
    &PriceBox {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &SalePrice {
        margin-top: 0;
        display: inline-block;
        font-weight: 500;
        color: #3924d7;
        font-size: 16px;
        margin-right: 20px;
        font-weight: 600;
    }
    &SalePrice ~ &Price {
        display: inline-block;
        font-weight: 400;
        color: #7a7a7a;
        text-decoration: line-through;
        font-size: 14px;
        font-weight: 300;
    }
    &SaleTitleBox {
        color: white;
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 1;
        margin: 0;
    }
    &SaleTitle {
        padding: 5px 10px;
        font-size: 10px;
        font-weight: 400;
        border-radius: 5px;
        margin-bottom: 10px;
        text-align: center;
    }
    &SaleTitleDiscount {
        background-color: #3924d7;
    }
    &SaleTitleTopSellers {
        background-color: #ef863b;
    }
    &SaleTitleNewArrivals {
        background-color: #fb70b8;
    }
}
