.Header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    max-width: 1980px;
    margin: 0 auto;
    .CartLink {
        .numOfCart {
            font-weight: 400;
        }
    }
    &Menu,
    &Navigate {
        width: 45%;
        display: flex;
        gap: 30px;
        @media (max-width: 767px) {
            gap: 10px;
        }
    }
    &MenuItem,
    &NavigateItem,
    &MenuItemSubItem {
        min-width: 30px;

        &Link {
            display: block;
            width: 100%;
            font-weight: 600;
        }
    }

    &MenuItem::after,
    &NavigateItem::after,
    &MenuItemSubItem::after {
        content: "";
        width: 0%;
        height: 2px;
        display: block;
        background-color: transparent;
    }
    &MenuItem:hover,
    &NavigateItem:hover,
    &MenuItemSubItem:hover {
        // underline effect
        cursor: pointer;
        &:not(.HeaderSearch) {
            &::after {
                transition: width 0.3s, background-color 0.3s;
                width: 100%;
                background-color: black;
            }
        }

        //show subitem
        .HeaderMenuItemSubMenu {
            display: flex;
        }
    }
    .HeaderSearch {
        svg {
            color: black;
        }
    }
    &MenuItem.active:hover,
    &NavigateItem.active:hover {
        &::after {
            transition: width 0.3s, background-color 0.3s;
            width: 100%;
            background-color: #be2c15;
        }
    }
    &MenuItemLink,
    &NavigateItemLink {
        color: black;
        text-transform: uppercase;
    }

    &MenuItem.active > a {
        color: #be2c15;
    }
    &Navigate {
        justify-content: flex-end;
    }
    &Logo {
        width: 10%;
        img {
            height: 60px;
            display: block;
            width: 100%;
        }
    }

    //for sub item
    &MenuItemSubMenu {
        position: absolute;
        left: 0;
        padding: 0 20px;
        padding-top: 20px;
        width: 100%;
        display: flex;
        gap: 30px;
        min-height: 110px;
        display: none;
        background-color: white;
        z-index: 2; //above the herosection

        a {
            text-transform: uppercase;
            color: black;
            font-weight: 600;
        }
    }
    //search input
    &Search {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 991px) {
            display: none;
        }
        input {
            border: none;
            border-bottom: 1.5px solid black;
            &:focus {
                border-bottom: 1.5px solid black;
                outline: none;
            }
        }
        svg:hover {
            cursor: pointer;
        }
    }

    //start responsive here

    &MenuIcon {
        display: none;
        width: 45%;
        svg {
            font-size: 34px;
            background-color: transparent;
            transition: all 0.3s;
            padding: 5px;
            @media (max-width: 767px) {
                font-size: 28px;
            }
            &:hover {
                background-color: #f2f2f2;
                cursor: pointer;
            }
        }
        @media (max-width: 1300px) {
            display: flex;
            align-items: center;
        }
    }
    &Menu {
        @media (max-width: 1300px) {
            display: none;
        }
    }
    &MenuBarBox {
        width: 0;
        height: 100vh;
        display: none;
        top: 0;
        left: 0;
        position: fixed;
        overflow-y: hidden;
        z-index: 111;
        background-color: rgba(242, 242, 242, 0.5);
        transition: width 0.2s;
        @media (max-width: 1300px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .BarActive.HeaderMenuBarBox {
        width: 100vw;
    }
    &MenuBar {
        padding-top: 30px;
        height: 100vh;
        width: 30%;
        background-color: white;

        &Item {
            width: 100%;
            a {
                font-size: 20px;
                font-weight: 500;
                padding: 5px 20px;
                color: black;
                display: block;
                width: 100%;
                background-color: transparent;
                transition: all 0.3s;
                &:hover {
                    text-decoration: underline;
                    background-color: #f2f2f2;
                }
            }
        }
        &ItemSubMenu {
            max-height: 0;
            visibility: hidden;
            opacity: 0;
            transition: max-height 0.3s;
            padding-left: 20px;
        }
        .active {
            .HeaderMenuBarItemSubMenu {
                visibility: visible;
                max-height: 200px !important;
                opacity: 1 !important;
            }
        }
    }
    &NavigateItemLink {
        > span {
            display: block;
            @media (max-width: 1300px) {
                display: none;
            }
        }
        > svg {
            display: none;
            @media (max-width: 1300px) {
                display: block;
            }
        }
    }
    .HeaderSearchBar {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(99%);
        width: 100vw;
        z-index: 1111;
        background-color: rgba(242, 242, 242, 0.5);
        height: 100vh;
        border-top: 1px solid #f2f2f2;

        &Box {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            padding: 6px 40px;
            gap: 10px;
        }
        input {
            padding: 7px 0;
            width: 100%;
            height: 23px;
            border: none;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        svg {
            font-size: 20px;
            color: black;
        }
    }
    .HeaderSearchBar.Active {
        @media (max-width: 991px) {
            max-height: 100vh;
            visibility: visible;
            opacity: 1;
        }
    }
    .HeaderSearchMobile {
        display: none;
        &:hover {
            cursor: pointer;
        }
        @media (max-width: 991px) {
            display: block;
        }
    }
}
