.AdminPage {
    max-width: 1980px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    justify-content: center;
    min-height: 600px;
    &Navigation {
        width: 30%;
        padding-right: 15px;
    }
    &List {
        width: 100%;
        list-style: none;
        background-color: #f5f5f5;
    }
    &Item {
        background-color: #f5f5f5;
        transition: all 0.3s;
        h3 {
            padding: 20px;
            font-size: 20px;
            font-weight: 400;
        }
        &:hover {
            cursor: pointer;
            background-color: #ebeaea;
            > h3 {
                text-decoration: underline;
            }
        }
    }
    &SubList {
        background-color: #fcfcfc;
        height: 0;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
    }
    &SubItem {
        background-color: #fcfcfc;
        padding-left: 20px;
        transition: all 0.3s;
        &:hover {
            cursor: pointer;
            background-color: #ebeaea;
            > h3 {
                text-decoration: underline;
            }
        }
    }
    &Content {
        width: 70%;
        padding-left: 15px;
    }
    .activatedTab {
        background-color: #c1bebe;
        .AdminPageSubList {
            height: fit-content !important;
            visibility: visible !important;
            opacity: 1 !important;
        }
    }
    .activeSub {
        background-color: #d6d6d6;
    }
}
