.Collection {
    max-width: 1980px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    .swiper {
        width: 100%;
    }

    @media screen and (min-width: 992px) {
        .swiper {
            min-width: 992px;
        }
    }
    &Item {
        // width: 50%;
        display: flex;
        &Img {
            width: 50%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
        &Info {
            background-color: #1d284a;
            padding: 10px 30px;
            display: flex;
            flex-direction: column;
            width: 50%;
            @media (max-width: 540px) {
                padding: 5px 15px;
            }
        }
        &Title {
            font-weight: 500;
            color: white;
            font-size: 20px;
            padding: 0;

            @media (max-width: 767px) {
                font-size: 16px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        &Desc {
            color: white;
            @media (max-width: 767px) {
                font-size: 12px;
            }
        }
        &BtnViewDetail {
            color: white;
            border: 1px solid white;
            margin-top: auto;
            margin-bottom: 0;
            align-self: flex-end;
            font-size: 14px;
            padding: 10px 20px;
            border-radius: 5px;
            @media (max-width: 540px) {
                font-size: 12px;
                padding: 5px 10px;
            }
            &:hover {
                color: black;
                background: white;
                cursor: pointer;
                transform: scale(1.05);
                transition: all 0.3s;
            }
        }
    }
}
